#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul > li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 0.5rem;
  border: 5px solid lightblue;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
ul img {
  width: 100%;
  height: auto;
}
